body{
    padding:20px;
}
.dictionary {
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 20px;
  padding:2%;
}

.dict-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.dict-card img {
  width: 150px;
  height: auto;
}

.dict-card h2 {
  margin-top: 10px;
  color: #3e2b27;
}
.heading{
    text-align: center;
    margin-top: 180px;
    
}
#dictionary-opener{
    text-align: center;
    font-size:x-large ;

}

/* Responsive  design*/
@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  section {
    margin: 1rem;
    padding: 0.5rem;
  }

  form {
    font-size: 0.9rem;
  }
}
