.heading{
    margin-top: 150px;
    text-align: center;
}
body{
    text-align: center;
    padding: 20px;
}


#sign-container img {
  width: 200px;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.option-btn {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #CFF27E;
  cursor: pointer;
  color:black;
}



#feedback {
  font-weight: bold;
  margin-top: 15px;
}

#next-btn {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #F08CAE;
  cursor: pointer;
}

#next-btn:disabled {
  
  cursor: not-allowed;
}
#new-game{
    background-color:#F08CAE ;
    padding: 10px 15px;
    border-radius:5px;
    cursor: pointer;
}

