.asl-etiquette{
    
    text-align: left;
    margin-left: 10%;
    padding:30px;
    font-size: larger;

}
body{
    padding:20px;
}
.heading{
    text-align: center;
    margin-top: 180px;
    
}

form{
    grid-template-columns: 150px 1fr;
    grid-gap: 15px 20px;
    width: 70%;
    text-align: left;
    padding: 50px;
    background-color: #d2e89e;
    margin: 50px auto;
    max-width: fit-content;
    font-size: large;
    flex:1;
    border-radius: 20px;
}

.asl-intro{
    flex:2;
   padding: 2%;
    gap:15px;
    margin-right: 10%;
    margin-left: 30px;
    background-color: rgb(163, 147, 112);
    border:none;
    border-radius: 4px;
    padding-bottom: 0;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(212, 211, 171);
  border-radius: 25px;
  
  padding:5px;
  margin-bottom: 2%;
}

aside {
  flex: 1;
  max-width: 350px;
  
  padding: 20px;
  border-radius: 8px;
}


button {
  background-color: #ffb6c1;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff8da1;
}

.cards {
  flex: 2;
  margin-left: 30px;
  background-color: #d2e89e;
  border-radius: 20px;
  padding: 2%;
  padding-bottom: 0;
  
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}
/* img{
    border-radius: 10px;
} */
