body{
    padding: 0;
    margin: 0;
    background-color: #d69e7a;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.socials{
    word-spacing: 50px;
    font-size: small;
    color: black;
    
    
}

 header{
    background-color: #f7ddcd;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 15px;
    text-align: center;
    opacity: 0.9;
}
.nav{
    word-spacing: 200px;
    color: black;
    font-weight: 200;
    font-size: large;
    width: 100%;
}

.welcome{
    padding:50px;
    background-color: #d69e7a;
    border-radius: 25%;
    font-size: x-large;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin:10%;
    text-align: center;
    
}
#image-container{
    display:grid;
    grid-template-columns:repeat(2,auto);
    gap:10px;
    padding:30px;
    margin:10%;
   
}
.gallery-2{
    display:grid;
    grid-template-columns:repeat(3,auto);
    gap:10px;
    padding:30px;
    margin:10px;
    background-color: #eeaac1;
    min-width: fit-content;
    opacity: 0.9;
}
.about-us{
    width:70%;
    height:100%;
    padding: 70px;
    margin: 100px;
    background-color: #d4b5a1;
    border-radius: 25%;
    text-align: center;
    font-size: x-large;
}
footer{
    padding: 120px;
    background-color: #f7ddcd;
    text-align: center;
    opacity: 0.9;
    line-height: 1.6;
    /* width:100%; */

    
}

